body.light {
    background: #ffffff;
}

body.dark {
    background: #1f1e25;
}

.provision-container {
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.provision-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body.light .provision-title {
    color: #333238;
}

body.dark .provision-title {
    color: #ececef;
}

body.light .provision-subtitle {
    color: #333238;
}

body.dark .provision-subtitle {
    color: #ececef;
}

#progress {
    width: 50%;
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #bfbfc3;
    border-radius: 0.25rem;
}

#progressBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}